<header>
  <div class="logo">Habity</div>
  <nav>
    <a (click)="cerrarSesion()">Cerrar sesión</a>
  </nav>
</header>

<main class="dashboard-layout">
  <aside class="left-panel">
    <h6>Mis hábitos registrados</h6>
    <ul>
      <li *ngFor="let habito of habitos.slice(0, 5)" class="habito-pill">
        {{ habito.nombre }}
      </li>
    </ul>
    <a routerLink="/ver-habitos" style="font-size: 13px; color: #007bff;">Ver todos los hábitos →</a>
  </aside>

  <section class="dashboard-main">
    <h1>Progreso de tus hábitos 📈</h1>

    <app-registro-habito-tracker
      *ngFor="let habito of habitos.slice(0, 1)"
      [habito]="habito"
    ></app-registro-habito-tracker>

    <div class="ver-progreso-container">
      <a routerLink="/progreso-habito" class="ver-progreso-link">Ver todo el progreso →</a>
  </div>
  </section>

  <aside class="right-panel">
    <div class="profile">
      <img [src]="usuario.imagenUrl || 'https://i.pravatar.cc/100?img=3'" alt="Foto de perfil">
      <h3>{{ usuario.nombre }}</h3>
      <p>
        Edad: {{ usuario.edad }}<br>
        Peso: {{ usuario.peso }}kg<br>
        Altura: {{ usuario.altura }}m
      </p>
    </div>
  </aside>
</main> 




